%%-*- mode: erlang -*-
{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{socketio, ".*", {svn, "https://erlang-scoketio.googlecode.com/svn/socket.io_cowboy", "head"}}
]}.
{erl_opts, [{parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.